@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --default-ring-color: var(--color-blue-200);
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200);
    }
}

* {
    transition: all 0.2s ease-in-out;
    font-family: var(--font-raleway);
}

body {
    background-color: white;
    font-family: "Trebuchet MS", sans-serif;
}
