@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

* {
  transition: all 0.2s ease-in-out;
  font-family: var(--font-raleway);
}

body {
  background-color: white;
  font-family: 'Trebuchet MS', sans-serif;
}